<%= render 'navbar/navbar' %>
<h1>Projects</h1>

<%= link_to 'Create project', new_project_path, :class => "card-link btn btn-success mt-3 mb-3" %>

<div class="row">
    <% @projects.each do |project| %>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= project.title %></h5>
                    <p class="card-text"><%= project.body %></p>
                    <div class="d-flex">
                        <%= link_to project_path(project), class: "card-link btn btn-success m-1" do %>
                            <i class="bi bi-eye-fill"></i>
                        <% end %>
                        <%= link_to edit_project_path(project), class: "card-link btn btn-primary m-1" do %>
                            <i class="bi bi-pencil-square"></i>
                        <% end %>
                        <%= button_to project_path(project), method: 'delete', data: { confirm: 'Are you sure?' }, class: "card-link btn btn-danger m-1" do %>
                            <i class="bi bi-trash3-fill"></i>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>